<ion-header>

  <div class="profile-pic">
    <img src="../../assets/profilepic1.png" alt="Profile picture">
  </div>

  <div class="personal-info">
    <span *ngFor="let item of storageItems">{{item['name']}}</span>
    <p>Edit profile</p>
  </div>

</ion-header>

<ion-content>
  <div style="height: 100px; " ></div>

  <div class="stats">
    <div class="stats-info">
      <span class="number">45,7</span>
      <span class="text">Km walked</span>
    </div>
    <div class="stats-info">
      <span class="number">8</span>
      <span class="text">Trails completed</span>
    </div>
  </div>

  <div class="tab">
    <span class="saved-trails">Saved trails</span>

    <select name="" id="">
      <option value="date-added">Date added</option>
      <option value="most-popular">Most popular</option>
      <option value="shortest-first">Shortest first</option>
      <option value="longest-first">Longest first</option>
    </select>
  </div>

  <div class="wrapper">

    <app-saved-trailcard></app-saved-trailcard>
    <div style="height:125px;"></div>  

  </div>

</ion-content>
