@import url("../../../theme/variables.scss");

.header-md {
  &::after {
    background-image: none;
  }
}


.personal-info{
  p{
    text-decoration: underline;
  }
}




.profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 4.5rem;
    border-radius: var(--border-radius-default);
    
  }
}


.stats {
  margin: 2rem;
  margin-top: 1rem;
  display: flex; 
  flex-direction: row;
  background-color: var(--ion-color-primary);
  align-items: center;
  height: 4rem;
  justify-content: center;
  border-radius: var(--border-radius-default);
  .stats-info {
      display: flex;
      flex-direction:column;
      justify-content: center;
      width: 50%;
      height: 100%;
      .number{
          font-size: var(--default-font-size);
      }

      .text {
        font-size: 0.9rem;
        color: var(--greyed-out-text);
      }
      
      &:nth-child(1){
          border-right: 1px solid var(--ion-background-color);
      }

      &:nth-child(2) {
        border-left: 1px solid var(--ion-background-color);
      }
      

    span {
      text-align: center;
    }
  }

}





select {
  float: right;
  font-size: 12;
  border: none;
}


.tab {
  margin: 2rem;
  margin-bottom: 0;
  .saved-trails {
    font-weight: 600;
    font-size: var(--default-font-size);
    font-family: var(--header-font);
  }
  select {
    color: var(--greyed-out-text);
    background: transparent;
    border: 0;
    outline: 0;
    option{
      color: var(--greyed-out-text);
      background: var(--ion-background-color);
      
    }
  }

}




