<ion-header>
  <div>
    <img class="image" src="../../assets/citypark.png" alt="">
  </div>
</ion-header>

<div class="green-wrapper">
  <div class="complications">

    <div class="detail">
      <img src="../../assets/directions.png">
      <span>Directions</span>
    </div>

    <div class="detail">
      <img src="../../assets/share.png">
      <span>Share</span>
    </div>

    <a href="home/explore">
    <div class="detail">
      <img src="../../assets/start.png">
      <span>Start</span>
    </div>
  </a>

  </div>
</div>

<ion-content>

<div class="text">
  <span>Boserup Skov - Kattinge Værk - Boserup Sø </span>
  <p>Length: 7,4 km • Est: 2h 10m</p>
</div>

<div class="description">
  <p>
    Boserup Skov - Kattinge Værk - Boserup Sø is a 7.4 kilometer loop trail located near Roskilde, Zealand, Denmark that features a lake and is rated as moderate.  </p>
  <p>
    The trail offers a number of activity options and is accessible year-round. Dogs are also able to use this trail but must be kept on a leash.  </p>
</div>

<span class="similar">Similar trails</span>


<div class="wrapper">
<!-- Trial start -->
<div class="trail" [routerLink]="['details']" style="background-image: url(../../assets/boserup.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Boserup Skov - Kattinge Værk - Boserup Sø</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,5
      </span>
    </span>

    <span>
      <span class="extra">Length: 7,4 km</span>
      <span class="extra"> • Est: 2h 10m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail" style="background-image: url(../../assets/forest.jpg);">
<div class="fave">
<ion-button fill=clear>
<img src="../../assets/not-fave.png" alt="">
</ion-button>
</div>

<div class="info">

<span>
  <span class="title">Roskilde, Boserup Forest, Bognæs, Svogerslev, Roskilde Loop</span>
  <span class="rating">
    <img src="../../assets/star.png" alt="">
     4,0
  </span>
</span>

<span>
  <span class="extra">Length: 36,7 km</span>
  <span class="extra"> • Est: 10h 26m</span>
</span>

</div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail" style="background-image: url(../../assets/lake.jpg);">
<div class="fave">
<ion-button fill=clear>
<img src="../../assets/not-fave.png" alt="">
</ion-button>
</div>

<div class="info">

<span>
  <span class="title">Roskilde - Boserup Skov - Kattinge Vig</span>
  <span class="rating">
    <img src="../../assets/star.png" alt="">
     5,0
  </span>
</span>

<span>
  <span class="extra">Length: 13,5 km</span>
  <span class="extra"> • Est: 3h 45m</span>
</span>

</div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail" style="background-image: url(../../assets/lake2.jpg);">
<div class="fave">
<ion-button fill=clear>
<img src="../../assets/not-fave.png" alt="">
</ion-button>
</div>

<div class="info">

<span>
  <span class="title">Vesterskov Loop</span>
  <span class="rating">
    <img src="../../assets/star.png" alt="">
     4,0
  </span>
</span>

<span>
  <span class="extra">Length: 6,6 km</span>
  <span class="extra"> • Est: 2h 2m</span>
</span>

</div>

</div>
<!-- Trial end -->
</div>

</ion-content>
