<ion-header>
  <div>
    <img class="image" src="../../assets/citypark.png" alt="">
  </div>
</ion-header>

<div class="green-wrapper">
  <div class="complications">

    <div class="detail">
      <img src="../../assets/directions.png">
      <span>Directions</span>
    </div>

    <div class="detail">
      <img src="../../assets/share.png">
      <span>Share</span>
    </div>

    <a href="home/explore">
    <div class="detail">
      <img src="../../assets/start.png">
      <span>Start</span>
    </div>
  </a>

  </div>
</div>

<ion-content>

<div class="text">
  <span>Trail heading</span>
  <p>Length: 0,0 km • Est: 00h 00m</p>
</div>

<div class="description">
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
  </p>
  <p>
    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
  </p>
</div>

<span class="similar">Similar trails</span>


<div class="wrapper">
<!-- Trial start -->
<div class="trail" [routerLink]="['details']">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Boserup Skov - Kattinge Værk - Boserup Sø</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,5
      </span>
    </span>

    <span>
      <span class="extra">Length: 7,4 km</span>
      <span class="extra"> • Est: 2h 10m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail">
<div class="fave">
<ion-button fill=clear>
<img src="../../assets/not-fave.png" alt="">
</ion-button>
</div>

<div class="info">

<span>
  <span class="title">Roskilde, Boserup Forest, Bognæs, Svogerslev, Roskilde Loop</span>
  <span class="rating">
    <img src="../../assets/star.png" alt="">
     4,0
  </span>
</span>

<span>
  <span class="extra">Length: 36,7 km</span>
  <span class="extra"> • Est: 10h 26m</span>
</span>

</div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail">
<div class="fave">
<ion-button fill=clear>
<img src="../../assets/not-fave.png" alt="">
</ion-button>
</div>

<div class="info">

<span>
  <span class="title">Roskilde - Boserup Skov - Kattinge Vig</span>
  <span class="rating">
    <img src="../../assets/star.png" alt="">
     5,0
  </span>
</span>

<span>
  <span class="extra">Length: 13,5 km</span>
  <span class="extra"> • Est: 3h 45m</span>
</span>

</div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail">
<div class="fave">
<ion-button fill=clear>
<img src="../../assets/not-fave.png" alt="">
</ion-button>
</div>

<div class="info">

<span>
  <span class="title">Vesterskov Loop</span>
  <span class="rating">
    <img src="../../assets/star.png" alt="">
     4,0
  </span>
</span>

<span>
  <span class="extra">Length: 6,6 km</span>
  <span class="extra"> • Est: 2h 2m</span>
</span>

</div>

</div>
<!-- Trial end -->
</div>

</ion-content>
