<ion-header>
  <span>Admin page</span>
  <p>Add, update and delete trails</p>
</ion-header>


<ion-content class="">
  <div class="paddings">

    <!-- Form for adding a trail -->
    <div class="submit-form">
      <div>
        <div class="form-group">
          <label for="name"></label>
          <input placeholder="Name" type="text" class="form-control" id="name" required [(ngModel)]="trail.name"
            name="name" />
        </div>

        <div class="form-group">
          <label for="lenght"></label>
          <input type="tel" placeholder="Length" class="form-control" id="length" required [(ngModel)]="trail.length"
            name="length" />
            <!-- maxlength="2" -->

        </div>

        <div class="form-group inputfield">
          <label for="description"></label>
          <textarea rows="3" placeholder="Trail description" class="form-control" id="description" required
            [(ngModel)]="trail.description" name="description"></textarea>

        </div>

        <div class="form-group">
          <label for="est_time"></label>
          <input placeholder="Estimated completion time" type="text" class="form-control" id="est_time" required [(ngModel)]="trail.est_time"
            name="est_time" />
        </div>

        <div class="buttongroup">
          <button (click)="addTrail()" class="btn btn-success">Add Trail</button>
          <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTrails()">delete all</button> -->
        </div>
      </div>

    </div>
    <!-- End of form for adding a trail -->

    <!-- Display list of trails -->
    <div class="col-md-8">
      <ion-header class="headerpadding">
        <span>Added Trails</span>
        <p>Added trails will appear here</p>
      </ion-header>
      <div class="input-group mb-3">
        <div class="input-group-append searchfield">
          <input type="text" class="form-control" placeholder="Search added trails" [(ngModel)]="name" />
          <button class="btn btn-outline-secondary" type="button" (click)="searchName()">
            🔎︎
          </button>
        </div>
      </div>
    </div>

    <ion-list>
      <ion-item *ngFor="let trail of trails; let i = index" [class.active]="i == currentIndex"
        (click)="setActiveTrail(trail, i)">
        {{ trail.name }}

      </ion-item>
    </ion-list>

        <!-- End of display list of trails -->




    <!-- Update or delete trail -->
        <div *ngIf="currentTrail" class="edit-form">
          <form>
            <div class="form-group">
              <label for="name"></label>
              <input type="text" class="form-control" id="name" [(ngModel)]="currentTrail.name" name="name" />
            </div>

            <div class="form-group">
              <label for="description"></label>

              <textarea type="text" class="form-control" id="description" [(ngModel)]="currentTrail.description"
                name="description"></textarea>
            </div>

            <div class="form-group">
              <label for="length"></label>
              <input type="text" class="form-control" id="length" [(ngModel)]="currentTrail.length" name="length" />
            </div>

            <div class="form-group">
              <label for="est_time"></label>
              <input type="text" class="form-control" id="est_time" [(ngModel)]="currentTrail.est_time" name="est_time" />
            </div>

            <div class="buttongroup">
              <button type="submit" class="badge badge-success" (click)="updateTrail()">
                Update
              </button>
              <button class="badge badge-danger mr-2" (click)="deleteTrail()">
                Delete
              </button>
            </div>
            <p>{{ message }}</p>
          </form>
        </div>
            <!-- End of update or delete trail -->


  </div>
</ion-content>
