<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome Admin! Here you can edit all trails in Roskilde trails app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="submit-form">
    <div>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="trail.name"
          name="name"/>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="trail.description"
          name="description"/>
      </div>

      <div class="form-group">
        <label for="lenght">Length</label>
        <input
          class="form-control"
          id="length"
          required
          [(ngModel)]="trail.length"
          name="length"/>
      </div>
  
      <button (click)="addTrail()" class="btn btn-success">Add</button>
    </div>

</div>
<div class="col-md-8">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search by name"
      [(ngModel)]="name"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="searchName()"
      >
        Search
      </button>
    </div>
  </div>
</div>

  <ion-list>
      <ion-item  *ngFor="let trail of trails; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveTrail(trail, i)">
        {{ trail.name }}
      </ion-item>
  </ion-list>


  <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTrails()">
    Remove All Trials
  </button>

</ion-content>
