<div class="CategoryCard">
  <div class="CategoryCard-content">
    <h2>CategoryTitle</h2>
    
    <span>View All</span>
  </div>

  <div class="CategoryCard-image"><img class="svg-clipped"src="../../assets/boserup.jpg"/></div>        <svg height="0" width="0">
            <defs>
                <clipPath id="svgPath">
  
                    <circle stroke="#000000" stroke-miterlimit="10" cx="50" cy="80" r="30"/>

                    <circle stroke="#000000" stroke-miterlimit="10" cx="110" cy="50" r="50"/>
                   
                </clipPath>
            </defs>
        </svg>
</div>
