


.personal-info {
 

  h2, span {
    font-weight: bold;
    font-size: 2rem;
    color: var(--ion-headings-color);
    font-family: var(--header-font);
    text-transform: capitalize;
    margin: 0;

  }


}







