<ion-header>
  <span>Lakes</span>
  <p>Lake trails in Roskilde area</p>
</ion-header>

<ion-content>
  <div class="wrapper">

<!-- Trial start 1 -->
<div *ngFor="let trail of trails; let i = index" [class.active]="i == currentIndex"
    (click)="setActiveTrail(trail, i)"> 

    <div class="trail" *ngIf="trail.category === 'Lake'" [routerLink]="['details']" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url({{trail.trail_pic}});">
    <div class="fave">
          <ion-button fill=clear>
          <img src="../../assets/not-fave.png" alt="">
        </ion-button>
        </div>

        <div class="info">

          <span>
            <span class="title" >{{ trail.name }}</span>
            <span class="rating">
              <img src="../../assets/star.png" alt="">
              5,0
            </span>
          </span>

          <span>
            <span class="extra">Length: {{ trail.length }} km</span>
            <span class="extra"> • Est: 5h 22m</span>
          </span>

        </div>
      </div> 
  </div>
<!-- Trial end -->

<!-- Trial start 2 -->
<!-- <div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/boserup.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title" style="font-size: 23px !important;">Skjoldungestierne: Roskilde - Lejre</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         3,5
      </span>
    </span>

    <span>
      <span class="extra">Length: 12,7 km</span>
      <span class="extra"> • Est: 3h 37m</span>
    </span>

  </div>

</div> -->
<!-- Trial end -->

<!-- Trial start 3 -->
<!-- <div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/lake3.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title" style="font-size: 21px !important;">Hyrdehøj Skov - Hjertesti</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         5,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 2,4 km</span>
      <span class="extra"> • Est: 1h 34m</span>
    </span>

  </div>

</div> -->
<!-- Trial end -->

<!-- Trial start 4 -->
<!-- <div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/havn.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Roskilde Hjertesti</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 3,9 km</span>
      <span class="extra"> • Est: 2h 4m</span>
    </span>

  </div>

</div> -->
<!-- Trial end -->

<!-- Trial start 5 -->
<!-- <div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/boserup.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title" style="font-size: 21px !important">Trekroner Himmelev Skov</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 8,2 km</span>
      <span class="extra"> • Est: 4h 20m</span>
    </span>

  </div>

</div> -->
<!-- Trial end -->

<!-- Trial start 6 -->
<!-- <div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/lake.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Trekroner Sporet</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         3,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 8,2 km</span>
      <span class="extra"> • Est: 2h 34m</span>
    </span>

  </div>

</div> -->
<!-- Trial end -->
  
  </div>

</ion-content>
