@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/clash-display");
:root {
  /** primary **/
  --ion-color-primary: #393939;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
  /** added 28/11/2021 **/
  --ion-background-color: #1B1B1B;
  --ion-text-color: white;
  --ion-headings-color: #FDD549;
  --ion-font-family: 'Nunito', sans-serif;
  --header-font: 'Clash Display', sans-serif;
  --border-radius-default: 8px;
  --greyed-out-text: rgba(255, 255, 255, 0.6);
  --default-font-size: 18px;
  --card-background-primary: #61C294;
  --category-primary: #DA714F;
  --category-secondary: #688DE2;
  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-item {
  ---background: red !important;
}

/* Global Styles added 02122021 */
ion-header {
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
  background: black;
  background: -moz-linear-gradient(to bottom, var(--ion-background-color), rgba(27, 27, 27, 0.5) 75%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(to bottom, var(--ion-background-color), rgba(27, 27, 27, 0.5) 75%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, var(--ion-background-color), rgba(27, 27, 27, 0.5) 75%, rgba(0, 0, 0, 0) 100%);
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal-info span {
  font-weight: bold;
  font-size: 2rem;
  color: var(--ion-headings-color);
  font-family: var(--header-font);
  text-transform: capitalize;
}

.personal-info p {
  font-size: var(--default-font-size);
  font-weight: 300;
  color: var(--ion-text-color);
  font-weight: medium;
  margin: 0;
}

ion-content {
  position: absolute;
  height: 100vh;
}

.wrapper {
  display: inline-block;
  height: 100%;
  padding: 1px 2rem;
  width: 100%;
  box-sizing: border-box;
}
