ion-content {
    --background: #94ab51;
}

.login-container {
    display: flex;
    flex-direction: column;   
}

.images-parent {
    margin-top: 27vh;
}

.login-form {
    margin-top: -6px;
    padding-left: 10vw;
    padding-right: 10vw;
    bottom:0;
    height: 60.5vh;
    background-color: white;
}
ion-input {
    border-radius: 30px !important;
    border: 1px solid #ffffff;
}

ion-button {
    --background: #758c35;
    --background-activated: #758c35;
    --ripple-color: #94ab51;
    --border-radius: 0px;
    float: right;
}






