<ion-header>
  <span>Top Rated</span>
  <p>Top rated trails for you</p>
</ion-header>

<ion-content>
  <div class="wrapper">

<!-- Trial start -->
    <div class="trail" [routerLink]="['details']">
      <div class="fave">
        <ion-button fill=clear>
        <img src="../../assets/not-fave.png" alt="">
      </ion-button>
      </div>

      <div class="info">

        <span>
          <span class="title">Boserup Skov - Kattinge Værk - Boserup Sø</span>
          <span class="rating">
            <img src="../../assets/star.png" alt="">
             4,5
          </span>
        </span>

        <span>
          <span class="extra">Length: 7,4 km</span>
          <span class="extra"> • Est: 2h 10m</span>
        </span>

      </div>

    </div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Roskilde, Boserup Forest, Bognæs, Svogerslev, Roskilde Loop</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 36,7 km</span>
      <span class="extra"> • Est: 10h 26m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Roskilde - Boserup Skov - Kattinge Vig</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         5,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 13,5 km</span>
      <span class="extra"> • Est: 3h 45m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Vesterskov Loop</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 6,6 km</span>
      <span class="extra"> • Est: 2h 2m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title" style="font-size: 21px !important">Skjoldungestierne: Roskilde - Lejre</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         3,5
      </span>
    </span>

    <span>
      <span class="extra">Length: 12,7 km</span>
      <span class="extra"> • Est: 3h 37m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Roskilde Hjertesti</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 3,9 km</span>
      <span class="extra"> • Est: 1h 4m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title" style="font-size: 19px !important;">Boserup Skov - Boserup Sø</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 4,7 km</span>
      <span class="extra"> • Est: 1h 19m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start -->
<div class="trail">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Boserup Skov - Roskilde Station - Roskilde Fjord</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,5
      </span>
    </span>

    <span>
      <span class="extra">Length: 14,6 km</span>
      <span class="extra"> • Est: 4h 6m</span>
    </span>

  </div>

</div>
<!-- Trial end -->
  
  </div>

</ion-content>
