.header-md::after{
    background-image: none;
}
ion-header{
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}

ion-header > span{
     
    font-weight: bold;
    font-size: 36px;
}

ion-header > p{
     
    font-size: 16px;
    color: #94ab51;
    font-weight: 500;
    margin: 0 0 0 0;
}

.wrapper{
    // display: grid;
    // grid-template-columns: repeat(1, 1fr);
    // gap: 5%;
    // height: 100%;
    padding: 5% 5% 0 5%;
}

.trail{
    border: 1px solid #707070;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(145,145,145,1) 100%);
    border-radius: 20px;
    opacity: 70%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
    height: 165px;

}

.info{
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 5%;
}

.info > span{
    margin-left: 5%;
}

.title{
     
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.extra{
     
    font-size: 18px;
    font-weight: 500;
    color: white;
}

ion-button{
    float: right;
}

.rating{
    color: white;
    border: 1px solid #000000;
    background-color: #000000 !important;
    border-radius: 25px;
    padding: 1% 2% 1% 2%;
    margin-left: 5%;
}
