.personal-info {
    h2, span {
      font-weight: bold;
      font-size: 2rem;
      color: var(--ion-headings-color);
      font-family: var(--header-font);
      text-transform: capitalize;
      margin: 0;
  
    }
  }

.wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5%;
    height: 100%;
    padding: 5%;
}




