<ion-header>
  <span>Nature</span>
  <p>Explore the Nature trails in Roskilde area</p>
</ion-header>

<ion-content>
  <div class="wrapper">

<!-- Trial start 1 -->
    <div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/forest.jpg);">
      <div class="fave">
        <ion-button fill=clear>
        <img src="../../assets/not-fave.png" alt="">
      </ion-button>
      </div>

      <div class="info">

        <span>
          <span class="title">Boserup Skov - Roskilde Station - Roskilde Fjord</span>
          <span class="rating">
            <img src="../../assets/star.png" alt="">
             4,5
          </span>
        </span>

        <span>
          <span class="extra">Length: 36,7 km</span>
          <span class="extra"> • Est: 4h 6m</span>
        </span>

      </div>

    </div>
<!-- Trial end -->

<!-- Trial start 2 -->
<div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/boserup.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Boserup Skov - Roskilde Station - Roskilde Fjord</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 36,7 km</span>
      <span class="extra"> • Est: 10h 26m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start 3 -->
<div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/citypark1.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Bognæs og Storskov</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,5
      </span>
    </span>

    <span>
      <span class="extra">Length: 9,0 km</span>
      <span class="extra"> • Est: 2h 37m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start 4 -->
<div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/frame.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Boserup Skov - kattinge Værk - Boserup Sø</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,5
      </span>
    </span>

    <span>
      <span class="extra">Length: 7,4 km</span>
      <span class="extra"> • Est: 2h 10m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start 5 -->
<div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/lake.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title" style="font-size: 19px;">Boserup Skov - Boserup Sø</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 4,7 km</span>
      <span class="extra"> • Est: 1h 19m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start 6 -->
<div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/boserup.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Boserup Forest via Roskilde Mountain Trail</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 8,2 km</span>
      <span class="extra"> • Est: 2h 25m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start 7 -->
<div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/forest.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title" style="font-size: 22px !important;">Boserup Forest Blue Mountain Trail</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 12,1 km</span>
      <span class="extra"> • Est: 8h 4m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start 8 -->
<div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/lake3.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title" style="font-size: 18px;">Boserup Skov og Shelterplads</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 5,0 km</span>
      <span class="extra"> • Est: 1h 25m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start 9 -->
<div class="trail"style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/citypark1.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title" style="font-size: 18px;">Boserup Skov og Kattinge Vig</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,5
      </span>
    </span>

    <span>
      <span class="extra">Length: 7,7 km</span>
      <span class="extra"> • Est: 2h 14m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start 10 -->
<div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/frame.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Himmelev Skov Rundt</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         4,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 2,7 km</span>
      <span class="extra"> • Est: 1h 16m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start 11 -->
<div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/lake4.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Børnehaven Solsikken Sti</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         3,5
      </span>
    </span>

    <span>
      <span class="extra">Length: 3,2 km</span>
      <span class="extra"> • Est: 1h 46m</span>
    </span>

  </div>

</div>
<!-- Trial end -->

<!-- Trial start 12 -->
<div class="trail" style="background-image: linear-gradient(0deg, black 0%, #ffffff00 100%),url(../../assets/forest.jpg);">
  <div class="fave">
    <ion-button fill=clear>
    <img src="../../assets/not-fave.png" alt="">
  </ion-button>
  </div>

  <div class="info">

    <span>
      <span class="title">Roskilde Rundt</span>
      <span class="rating">
        <img src="../../assets/star.png" alt="">
         5,0
      </span>
    </span>

    <span>
      <span class="extra">Length: 4,2 km</span>
      <span class="extra"> • Est: 2h 10m</span>
    </span>

  </div>

</div>
<!-- Trial end -->
  
  </div>

</ion-content>
