<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="">
      <ion-icon src="../../assets/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="">
      <ion-icon src="../../assets/explore.svg"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="">
      <ion-icon src="../../assets/md-badge.svg"></ion-icon>
      <ion-label>Badges</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="">
      <ion-icon src="../../assets/person.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
