<ion-tabs>

  <ion-tab-bar slot="bottom">

  <ion-tab-button tab="home-component">
    <ion-icon src="../../assets/home.svg"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="explore">
    <ion-icon src="../../assets/explore.svg"></ion-icon>
    <ion-label>Explore</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="badges">
    <ion-icon src="../../assets/md-badge.svg"></ion-icon>
    <ion-label>Badges</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="profile">
    <ion-icon src="../../assets/person.svg"></ion-icon>
    <ion-label>Profile</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="home-component/top-rated" style="display: none;">
    <ion-icon src="../../assets/person.svg"></ion-icon>
    <ion-label>Profile</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="home-component/lake" style="display: none;">
    <ion-icon src="../../assets/person.svg"></ion-icon>
    <ion-label>Profile</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="home-component/nature" style="display: none;">
    <ion-icon src="../../assets/person.svg"></ion-icon>
    <ion-label>Profile</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="home-component/top-rated/details" style="display: none;">
    <ion-icon src="../../assets/person.svg"></ion-icon>
    <ion-label>Profile</ion-label>
  </ion-tab-button>

</ion-tab-bar>

</ion-tabs>
